body{
    background-color: #00c787;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.operate{
    background-color: antiquewhite;
    width: 300px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
h3{
    color:#fff;
    display: flex;
    justify-content: center;
    margin: 30px;

}
.place{
    display: flex;
    border-radius: 25px;
    overflow: hidden;
}
.word{
    display: flex;
    flex-grow: 1;
    border: none;
    background-color: #fff;
    padding: 10px 15px;
    outline: none;
}
.btn{
    background-color: #00c787;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
}
.list{
    list-style-type: none;
    padding: 0;
}
.list li{
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid green;
}
.list label{
    flex-grow: 1;
}
.box{
    margin-right: 15px;
}
.trash{
    background-color: none;
    border: none;
    cursor: pointer;
    opacity: 0.5;
}
.trash:hover{
    opacity: 1;
}